.ProductsTable table {
    width: 100%;
}

.ProductsTable th {
    background-color: #124dbd;
}

.ProductsTable .Even {
    background-color: #445e8d;
}

.ProductsTable .Odd {
    background-color: #e0e8f5;
}